<body>
    <nav>
        <input type="checkboxx" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
            <label class="logo"></label>
            <i class="fa fa-bralle" aria-hidden="true">Mon site</i>
            <ul>
                <li><a class="active"[href]="">home</a></li>
                <li><a routerLink="/ajouter">About</a></li>
                <li><a href="">article</a></li>
                <li><a href="">contact</a></li>
            </ul>
        
    </nav><section></section>
</body>
