body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  header {
    background-color: #222;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  main {
    min-height: 80vh;
    padding: 20px;
  }
  footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  #ri-home-office-line{
   width: 100%;
   color: blue;
  }